.about {
    padding: 4rem;
    padding-top: 100px;
    background: white;
  }
  
  h1 {
    text-align: center;
  }
  
  .about__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .about__wrapper {
    position: relative;
    margin: 50px 0 45px;
    display:block
  }
  
  .about__items {
    margin-bottom: 30px;
  }

  .pic{
      float:left
  }

