h2{
    padding-left: 400px;
}

.education_info{
    width: 50%;
    display: inline-block;
    position: relative;

}

.education_info > em{
    color: 	#202020
}

.education_info > p{
    color: #202020;
}

.education_section{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    
    


}

.education_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.thin_bar{
    color: #333;
    background-color: 	#D3D3D3;
    width:60%;
    border: 0;
    height:1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.skills > h2{
    line-height: 100px;
}

.skills{
    background: white;
    padding-bottom: 600px;
    max-width: 100%;
    justify-content: center;
}

* {box-sizing:border-box}


.skills_info{
    position: absolute;
    max-width: 520px;
    width: 70%;
    padding-bottom: 800px;

}

.skills_section{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    
}

.skills_container{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bars{
    width: 50%;
    display: inline-block;
    padding: 0;
    justify-content: center;
    padding-bottom: 100px;
}


.bars .skills_info{
    margin-top: 30px;
    list-style: none;
}

.bars li {
    position: relative;
    margin-bottom: 60px;
    background-color: #585858;
    height: 40px;
    border-radius: 0px;
}

.bar-expand{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: black;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
}

.bars li em {
    color: black;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    top: -36px;
}
